<% layout('../global/globalTemp/globalTemp') -%>
<% stylesheet("/static/styles/wealth/wealthCenter.css") -%>
<% stylesheet("/static/styles/global.css") -%>
<div id="wealthCenterWrap">
    <div class="wealthCenterTop">
sfsfs
    </div>
</div>