<!--账户设置侧边栏-->
<div class="sideBar">
    <ul>
        <% accountSideBar.sideBarList.forEach(function(obj, ind){ %>
        <li class="<% if(ind+1 == accountSideBar.current){%>current<%} %>">
            <a class="navBar" href="<%= obj.listLink %>"><%= obj.listName %><em class="ico_triangle"></em></a>

            <% if(obj.secList != ''){ %>
            <dl>
                <% obj.secList.forEach(function(objj, indd){ %>
                <dd class="<% if(indd+1 == accountSideBar.secCurrent){%>current<%} %>"><a href="<%= objj.secListLink %>"><%= objj.secListName %>&nbsp;</a></dd>
                <% }) %>
            </dl>
            <%}else{%>

            <%}%>
        </li>
        <% }) %>
    </ul>
</div>
