@import './global.scss';
@import './Plugins/message.scss';


/* 结算单.确认开票 页面 *********************************************** */



/* 重要提示 板块 --------------------------- */
.doubtInlet {
  display: inline-block;
  padding-left: 19px;
  height: 28px;
  color: #007193;
  font-size: 12px;
  font-family: $ffSt;
  line-height: 20px;
  text-decoration: none;
  background: url($bgUrl) no-repeat -501px -176px;

  & :hover {
    color: $color_link_hover;
    text-decoration: underline;
  }
}
.embedBox {
  display: none;
  width: 940px;;
  height: 218px;
  position: relative;
  z-index: 5;

  .significantDoubt {
    position: absolute;
    z-index: 3;
    width: 940px;
    top: -3px;
    left: 0;
  }
}
.embedBox::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  right: 17px;
  z-index: 8;
  overflow: hidden;
  border-style: solid;
  border-width: 0 8px 7px;
  border-color: transparent transparent #6ed8f5;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}
.embedBox::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -9px;
  right: 17px;
  z-index: 9;
  overflow: hidden;
  border-style: solid;
  border-width: 0 8px 7px;
  border-color: transparent transparent #f3fcff;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.significantDoubt {
  padding: 20px 30px;
  border: 1px solid #abeafb;
  background: #f3fcff;

  .doubtTitle {
    height: 38px;
    padding-top: 5px;
    font-size: 16px;
    color: #333333;
    line-height: 28px;
  }
  p.entry {
    font-size: 12px;
    line-height: 28px;
    color: #666666;
  }
  span.light {
    color: #fc9974;
  }

  .linkPrint {
    color: $color_link;
    text-decoration: none;

    &:hover {
      color: $color_link_hover;
      text-decoration: underline;
    }
  }
}
.modal-content {
  .close {
    position: absolute;
    top: 10px;
    right: 12px;
    opacity: 0.8;
  }
}

/* 结算单表格 板块 --------------------------- */
