@import 'global.scss';
@import "orderTable.scss";
@import "statusBar.scss";
@import "orderUserInfo.scss";
@import "modal.scss";

#confirmComplete{
  background: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 50px;
  .confirmCompleteWrap{
    width: 1000px;
    margin: 0 auto;
    padding:30px;
    background: #fff;
  }
  .orderStatus{background: #f3fcff;padding-top: 60px;padding-bottom: 88px;}
  .orderStatus .orderStatusWrap{padding-left: 240px;}
  .orderStatus .orderStatusWrap .tit{font-size: 24px;color:#333;margin-bottom: 20px;}
  .orderStatus .orderStatusWrap .tit b{color:#1aaa6b;}
  .orderStatus .orderStatusWrap .info{color:#999;font-size: 12px;margin-bottom:10px;}
  .orderStatus .orderStatusWrap .info .remindSeller{display: inline-block;padding:5px 10px;color:#333;font-size: 12px;border: 1px solid #e4e4e4;margin-left: 8px;background: url("/static/images/gradualLine.png") repeat-x center center;}
  .orderStatus .orderStatusWrap .info .remindSeller:hover{text-decoration: none;opacity: .8;}
  //	下载按钮
  .dlDetail{display:block;padding-left:10px;width: 125px;height: 30px;line-height:30px;color:#010101;border: 1px solid #e4e4e4;border-radius: 2px;margin: 0 auto;background: url("/static/images/gradualLine.png") repeat-x center center}
  .dlDetail .printer{display: inline-block;width:18px;height:18px;background: url("/static/images/sprite_ico.png") no-repeat -551px -378px;vertical-align: middle;top: -2px;position:relative;margin-right: 5px;}
  .dlDetail:hover{text-decoration: none;opacity: .8;}
}