@import './global.scss';
@import './statusBar.scss';


#listBox {
    width: 300px;
    height: 100px;
    border: 1px solid #0000cc;
    border-spacing: 0;
    background-color: #DDDDDD;

    th, td {
        padding: 3px;
        border: 1px dashed #009900;
        border-spacing: 0;
    }
}

.demoList {
    margin: 20px 10px;
    width: 300px;
    float: left;

}

/* ---------------------------------------------------------------------------------------------------------------- */
.icnList {
    height: 90px;
    padding: 15px;
    background: #ffffff;

    .icnBox {
        display: inline;
        float: left;
        padding: 8px;
        margin-right: 5px;
        text-align: center;
        border: 1px dashed #CCCCCC;
    }
    .describe {
        display: block;
        padding-top: 4px;
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        color: #333333;
    }
}



/* 按钮组 ----------------------------------------------- */
$ccc: #ffffff;
















