@import './global/common.scss';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Microsoft Yahei', Arial, Helvetica, "黑体", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{min-width: 1000px;font-size: $size_font_nomal;}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td {
  text-align: left;
  font-weight: normal;
  float:none !important;
}
table, th, td {
  vertical-align: middle;
}
em,i {font-style:normal;}
a{text-decoration: none;}
/* Remove annoying border on linked images. */
a img { border: none; text-decoration:none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }
a:link,
a:focus {text-decoration: none;}
a:active,
a:hover { outline: 0;}
a:hover {
  color: #00b7ec;
  text-decoration: underline;
}
/* #Clearing
================================================== */
/* 公用 */
.fl { float: left; display: inline;}
.fr { float: right; display: inline;}
.txt_r { text-align: right;}
.txt_l { text-align: left;}
.txt_c { text-align: center;}
.va_top{ vertical-align: top;}
.va_btm{ vertical-align: bottom;}
.va_mid{ vertical-align: middle;}
.mt10 { margin-top: 10px}
.mt20 { margin-top: 20px}
.mt30 { margin-top: 30px}
.mt150 { margin-top: 150px}
.mt220 { margin-top: 220px}
.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}
.pad_10 {padding:10px;}
.pad_15 {padding:15px;}
.pad_20 {padding:20px;}
.pad_30 {padding:30px;}
.ff_yh { font-family: $ffYh;}
.ff_st { font-family: $ffSt;}
.ff_arial { font-family: $ffArial;}
.bright { color: #ff8553;}
.require {
  display: inline-block;
  padding-right: 3px;
  font-family: $ffSt;
  color: #f60f60;
  text-decoration: initial;
  vertical-align: middle;}
.clearfix:before, .clearfix:after { content: ""; display: table; font-size:0 !important; line-height:0!important; height:0!important;}
.clearfix:after { clear: both; }

/* IE 6/7 */
.clearfix { *zoom: 1; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* 公用: layout 布局 --------------------------- */
.containerWrap {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: #f5f5f5;

  .bodyWrap {
    width: 1000px;
    margin:0 auto 50px;
    padding:20px 30px 40px;
    background: #FFFFFF;


    /* 板块 */
    .plateBox {
      width: auto;

      .plateHead {
        height: 37px;
        position: relative;
        z-index: 3;

        .prefix {
          float: left;
          display: inline;
          width: 2px;
          height: 18px;
          margin-top: 9px;
          background: #00b6ef;
        }
        .headLeft {
          padding-left: 8px;
          margin: 0;
          line-height: 36px;
          font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1";
        }
        .headContent {
          width: 40%;
          display: block;
          margin: 0 auto;
          text-align: center;
          font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1";
        }
        .headRight {
          width: 100px;
          float: right;
          display: inline;
          text-align: right;
          font-size: 12px;
          line-height: 36px;
          font-family: $ffSt;
        }

        &.borSolid {
          border-bottom: 1px solid #e8e8e8;
        }
      }

      .plateMain {
        position: relative;
        z-index: 4;
        border: none;

        &.borSolid {
          border: 1px solid #e8e8e8;
        }
      }
    }

  }
}


/* 公用: 按钮,输入框 --------------------------- */
.iBtn {
  width: 140px;
  height: 40px;
  padding: 3px 5px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
}
.iIpt {
  display: inline-block;
  width: 88%;
  height: 38px;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 36;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:hover {
    border: 1px solid #01b7ec;
  }
}
.iBtn[disabled],
.iIpt[disabled],
.iBtn[disabled]:hover,
.iIpt[disabled]:hover {
  background-color: #bbbcbd;
  border: 1px solid #cccccc;
  color: #ffffff;
  cursor: not-allowed;
  filter: alpha(opacity=100);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1.0;
}
.iBtn[readonly],
.iIpt[readonly],
.iBtn[readonly]:hover,
.iIpt[readonly]:hover {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  color: #d1d1d1;
  cursor: default;
}

//默认, 取消
.iBtn_def {
  color: #ffffff;
  border: 1px solid #e4e4e4;
  background: #c7c7c7;

  &:hover {
    border: 1px solid #cccccc;
  }
}
//编辑
.iBtn_edit {
  color: #656565;
  border: 1px solid #e4e4e4;
  background: url($bgShadow) repeat-x;

  &:hover {
    background: #FFFFFF;
    border: 1px solid #1fb8ea;
    color: #1fb8ea;
  }
}
//确定
.iBtn_yes {
  color: #ffffff;
  background: #1fb8ea;

  &:hover {
    background: #4cc6ee;
  }
}
//否定, 退回
.iBtn_no {
  color: #ffffff;
  background: #fd6e35;

  &:hover {
    background: #fd8b5d;
  }
}
//错误
.iIpt_err,
.iIpt_err:hover {
  border: 1px solid #ff0303;
}
//上传&下载
.iBtn_up, .iBtn_down {
  @extend .iBtn_sm;
  margin-right: 10px;
  border: 1px solid #e4e4e4;
  background: url($bgShadow) repeat-x;
  text-align: left;
  text-indent: 8px;
  font-size: 14px;
  color: #656565;

  &:hover {
    background: #FFFFFF;
    border: 1px solid #1fb8ea;
    color: #1fb8ea;
  }
}
.iBtn_up {
  .iBtn_up_icn {
    margin: 6px 0 0 7px;
    float: left;
    display: inline;
    width: 14px;
    height: 14px;
    background: url($bgUrl) no-repeat -552px -307px;
  }
}
//下载
.iBtn_down {
  .iBtn_down_icn {
    margin: 6px 0 0 7px;
    float: left;
    display: inline;
    width: 14px;
    height: 14px;
    background: url($bgUrl) no-repeat -552px -269px;
  }
}
//附件
.fileLab {
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  padding: 3px 7px 0 30px;
  zoom: 1;
  font-size: 12px;
  line-height: 22px;
  color: #666666;
  border: 1px solid #f5f5f5;
  background: #f5f5f5 url($bgUrl) no-repeat -542px -221px;
  text-align: left;
  vertical-align: middle;
  cursor: default;

  &:hover {
    border: 1px solid #45b8ed;
    background: #ffffff url($bgUrl) no-repeat -542px -221px;
  }

  .fileLab_del {
    display: inline;
    float: right;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin: 4px 0 0 20px;
    background: url($bgUrl) no-repeat -222px -176px;

    &:hover {
      background: url($bgUrl) no-repeat -262px -176px;
    }
  }
}
//小号
.iBtn_sm {
  width: 96px;
  height: 32px;
  padding: 2px 3px;
  font-size: 12px;
  line-height: 26px;
}
.iIpt_sm {
  height: 24px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 22px;
}



// Bootstrap 全局样式重写
// >>>>>>>>>>>>>>>>>>>>
.modal-content {
  border-radius: 2px;
  border-top: 2px solid #00b6ec;
}
.modal-header {
  height: 50px;
  padding: 10px 12px;

  .close {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 3px 0 0 0;
    background: url($bgUrl) no-repeat -120px -175px;

    &:hover {
      background: url($bgUrl) no-repeat -168px -176px;
    }
  }
}
.modal-title {
  color: #333333;
  font-size: 20px;
  font-family: $ffYh;
  line-height: 30px;
}
.modal-pl {
  width: 800px;
}
.modal-sm {
  width: 400px;
}
.modal-lg {
  width: 940px;
}


// <<<<<<<<<<<<<<<<<<<<


//头部css 更新与2016-5-17
$hoverColor: #00b7ec;
#paymentHeader{

  .headWrap{
    height:35px;
    background: #292929;
    font-size: 12px;
    color:#fff;
    font-family: "microsoft yahei";

    .wrap1000{
      width: 1000px;
      margin: 0 auto;

      .menuList{
        padding:8px 0;
        float: left;

        li{
          float: left;
          padding:0px 10px;
          position: relative;
          background: url("/static/images/header/indexBorder.png") no-repeat right 4px;

          a{
            color:#fff;
            display: inline-block;
            &:hover{
              color: $hoverColor;
              text-decoration: none;
            }
          }
          &.noborder{background: none;}
          .triggle{
            width: 0;
            height: 0;
            display: inline-block;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #fff;
            vertical-align: middle;
          }
          &:hover{
            .triggle{
              width: 0;
              height: 0;
              display: inline-block;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 4px solid #fff;
              border-top: none;
              vertical-align: middle;
            }
          }
          .hideMenu{
            display: none;
            background: #292929;
            padding: 10px;
            padding-top: 15px;
            position: absolute;
            z-index:10;
            top: 16px;
            left: 0px;

            li{
              background: none;
              display: inline;
              width: 100%;
              margin-bottom: 5px;
              padding:0;
              cursor:pointer;

              &:hover a{color:$hoverColor}
            }
          }
          &.webNav:hover .hideMenu{display: block}
        }
        .webNav:hover >a {
          color:$hoverColor
        }
        &::after{clear:both;content: ''}
      }
      .rightMenuList{float: right}
    }
  }
}
#subHeader{
  .subHeaderWrap{
    height: 85px;
    background: #fff;
    box-shadow: 0px 2px 3px #ddd;

    .subHeader1000{
      width: 1000px;
      padding-top: 17px;
      margin: 0 auto;

      a,span{display: inline-block;vertical-align: middle;font-size: 18px;color:#666;}
      .subHeaderTit{margin-left: 10px;position: relative;top: -2px}
    }
  }
}
//头部样式结束
//底部样式开始 更新与2016-5-17
#paymentFooter{
  .footerInfo{
    background: #292929;
    color: #999;
    padding-top: 25px;
    padding-bottom: 18px;

    .footerInfo-fl{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      text-align: center;
    }
    li{
      display: inline-block;
      padding:0 10px;
      text-align: center;
      background: url("/static/images/footer/indexBorder1.png") no-repeat right center;

      a{
        color: #999;
        text-decoration: none;
      }
      &.noborder{background:none;}
      &:hover a{color:$hoverColor}
    }

    p{
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
    }
    p.szfw-wrap {
      margin-top: 20px;
    }
  }
}
//底部样式结束


/* 通用: 文本域, 带可输入字数 ------------- */
.txtAreaBox {
  position: relative;
  padding: 0;
  margin: 0;

  .dockDown {
    width: 145px;
    height: 22px;
    padding: 1px 5px;
    position: absolute;
    z-index: 3;
    bottom: 6px;
    right: 2px;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
  }
  .limitNum {
    color: #ff8553;
  }

  .txtArea {
    width: 100%;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    resize: none;

    &:hover {
      border: 1px solid #01b7ec;
    }
  }
}












