@import './global.scss';
.w-406{  width:406px;  }
.w-160{  width:160px;  }
.w-213{  width:213px;  }
.order-table-title{
  display: table;
  background-color: $color_body_bg;
  font-size: 12px;
  line-height: 40px;
  border-left: 1px solid $color_border;
  border-right: 1px solid $color_border;
  .title-col {
    border-left:1px solid $color_body_bg;
    display: table-cell;
    text-align: center;
    color: $color_title_text;
  }
}
.order-table-body{
  display: table;
  border-bottom: 1px solid $color_body_bg;
  border-right: 1px solid $color_body_bg;
  .center-content{
    text-align: center;
    vertical-align: middle;
  }
  .info-col{
    display: table-cell;
    padding: 30px 0;
    border-left:1px solid $color_body_bg;
    .info-title{
      margin-left: 30px;
      .supply-ico {
        padding: 1px 3px;
        text-align: center;
        vertical-align: middle;
        background-color: $color_orange;
        color: $color_text_white;
        border-radius: 3px;
        font-size: 12px;
      }
      .supply-title {
        font-size: 16px;
        font-weight: bold;
        margin-left: 6px;
      }
    }
    ul{
      padding: 0;
      margin-left: 30px;
      font-size: 12px;
      li {
        list-style-type: none;
        width: 186px;
        float: left;
        margin-top: 12px;
      }
    }
  }
}
.total-money{
  text-align: right;
  margin-top: 30px;
  margin-right: 6px;
  .money-number{
    color: $color_font;
    font-size: 20px;
    span{
      color: $color_orange;
    }
  }
  .money-zh{
    margin-top: 10px;
    font-size: 12px;
  }
}