
//@import './Plugins/modals.scss';
@import './Plugins/fancySelect.scss';


/* 关闭订单页面 */
$bgUrl: "/images/sprite_ico.png";
$ffYh: "\5FAE\8F6F\96C5\9ED1";
$ffSt: '\5B8B\4F53';
$ffArial: 'Arial';


/* 公用 */
.fl { float: left; display: inline;}
.fr { float: right; display: inline;}
.txt_r { text-align: right;}
.txt_l { text-align: left;}
.txt_c { text-align: center;}
.mt10 { margin-top: 10px}
.mt20 { margin-top: 20px}
.mt30 { margin-top: 30px}
.mt150 { margin-top: 150px}
.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}
.ff_yh { font-family: $ffYh;}
.ff_st { font-family: $ffSt;}
.ff_arial { font-family: $ffArial;}

.require {
  display: inline-block;
  padding-right: 3px;
  font-family: $ffSt;
  color: #f60f60;
  text-decoration: initial;
  vertical-align: middle;}

.linkBtn {
  font-size: 12px;
  font-family: $ffYh;
  color: #3f87a2;
  text-decoration: none;}
.linkBtn:link {
  color: #00b7ec;
  text-decoration: none;}
.linkBtn:hover {
  color: #00b7ec;
  text-decoration: underline;}

.formTab {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;

  thead > tr > th,
  tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
}
.nBorTab {
  border: none;

  thead > tr > th,
  thead > tr > td,
  tbody > tr > th,
  tbody > tr > td {
    border: none;
  }
}

/* 按钮,输入框*/
.iBtn {
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
}
.iIpt {
  display: inline-block;
  width: 88%;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.iBtn[disabled],
.iIpt[disabled],
.iBtn[disabled]:hover {
  background-color: #c7c7c7;
  cursor: not-allowed;
  filter: alpha(opacity=100);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1.0;
}
.iIpt[readonly] {
  background-color: #c7c7c7;
  cursor: default;
}


/* layout */
.container {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: #f5f5f5;

  .bodyWrap {
    width: 940px;
    margin:0 auto 50px;
    padding:20px 30px 50px;
    background: #FFFFFF;
  }

}

/* 板块 */
.plateBox {
  width: auto;

  .plateHead {
    height: 37px;
    //border-bottom: 1px dashed #CCCCCC;

    .prefix {
      float: left;
      display: inline;
      width: 2px;
      height: 18px;
      margin-top: 10px;
      background: #00b6ef;
    }
    .headLeft {
      float: left;
      display: inline;
      padding-left: 8px;
      margin: 0;
      font: lighter 18px/38px "\5FAE\8F6F\96C5\9ED1";
    }
    .headContent {
      width: 30%;
      display: block;
      margin: 0 auto;
      text-align: center;
      font: lighter 18px/38px "\5FAE\8F6F\96C5\9ED1";
    }
    .headRight {
      width: 100px;
      float: right;
      display: inline;
      text-align: right;
      padding-right: 8px;
      font-size: 14px;
      line-height: 38px;
    }
  }

  .plateMain {
    border: 1px solid #e8e8e8;

    .sidebarWrap {
      width: 260px;
      padding: 30px 15px 30px 30px;
      background: #f5f5f5;
      height: 420px;
    }

    .mainWrap {
      width: 618px;
      margin-left: -260px;
      padding: 30px 20px;
      background: #FFFFFF;
    }
    
  }
}


/* 列表 ----------------------------------------------- */
.termBox {
  padding-bottom: 15px;

  dl {
    height: 24px;
    line-height: 24px;
    padding: 5px 0;
    font-size: 14px;
    font-family: $ffYh;
  }
  dt {
    display: inline-block;
    width: 73px;
    color: #999;
  }
  dd {
    display: inline-block;
    color: #333;
  }
  .term_hr {
    margin: 15px 0;
    padding: 0;
    height: 1px;
    width: 200px;
    border-bottom: 1px dashed #dcdcdc;
  }
  .text_zt {
    color: #1aaa6b;
  }
  .text_je {
    font-size: 16px;
    color: #000000;
  }
}

/* 文本域 */
.txtAreaBox {
  position: relative;
  padding: 0;
  margin: 0;

  .dockDown {
    width: 60px;
    height: 22px;
    padding: 1px 5px;
    position: absolute;
    z-index: 3;
    bottom: 6px;
    right: 12px;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
  }
  .limitNum {
    color: #ff8553;
  }
}
.txtArea {
  width: 98%;
  padding: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  resize: none;
}

.subBtn {
  width: 172px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  background: #00b7ec;
}
.subBtn:hover {
  background: #4cc6ee;
}


.iBtn-cancel, .iBtn-primary {
  width: 100px;
  height: 32px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  
}
.iBtn-cancel {
  background: #CEC7C7;
}
.iBtn-cancel:hover {
  background: #c7c7c7;
}
.iBtn-primary {
  background: #00b7ec;
  margin-left: 20px;
}
.iBtn-primary:hover {
  background: #4cc6ee;
}

.warn_ico {
  width: 66px;
  height: 66px;
  margin: 30px auto 8px;
  background: url($bgUrl) no-repeat -5px -290px;

}
.warn_info {
  font-size: 18px;
  font-font: $ffYh;
  line-height: 30px;
  text-align: center;
  color: #666666;
}