.order-table {
  border-left: solid 1px $color_border;
  border-right: solid 1px $color_border;
  border-bottom: solid 1px $color_border;
  width: 100%;
  .center-content {
    text-align: center;
    vertical-align: middle;
  }
  .table-title {
    height: 40px;
    th {
      background-color: $color_body_bg;
      text-align: center;
      font-size: 12px;
      color: $color_title_text;
      .unit{  color: $color_tip_font;  }
    }
  }
  .table-info{
    td{  border-right: solid 1px $color_border;  }
    .explain-paied-bg{  background-color: $color_readme_bg;  }
    .explain-bg{  background-color: $color_bg_status;  }
    .info-col {
      padding: 30px 0;
      font-size: 14px;
      .explain{
        width: 230px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        color: $color_font;
        .item{
          position: relative;
          text-align: left;
          .item-line{
            margin-left: 15px;
            .money-zh{
              margin-right: 10px;
              color: #666666;
              font-size: 12px;
            }
            .number{
              display: inline-block;
              width: 120px;
              font-size: 18px;
              text-align: right;
            }
            .orange{  color: $color_orange;  }
            .time{  font-size: 12px;  color: $color_title_text;  }
            .status-color{  color:$color_green;  }
          }
          .dot-icon {
            position: absolute;
            display: inline-block;
            width: 10px;
            height: 10px;
            left: -4px;
            border-radius: 5px;
          }
          .start{  top: 20px;background-color: $color_dot;  }
          .end{  top: 30px;  }
          .dot-gray{  background-color: $color_dot;  }
          .dot-green{  background-color: $color_green;  }
        }
        .line-start{  padding-bottom: 10px;  }
        .line-end{  padding-top: 10px;  }
        .line-start:before {
          content: "";
          width: 2px;
          height: 31px;
          background-color: $color_dot;
          left: 0px;
          top: 24px;
          position: absolute;
        }
        .line-end:before {
          content: "";
          width: 2px;
          height: 34px;
          left: 0px;
          top: 0px;
          position: absolute;
        }
        .line-gray:before {
          background-color: $color_dot;
        }
        .line-green:before {
          background-color: $color_green;
        }
      }
    }
  }
}
.total-money{
  text-align: right;
  margin-top: 30px;
  margin-right: 6px;
  .money-number{
    color: $color_font;
    font-size: 20px;
    span{  color: $color_orange;  }
  }
  .money-zh{  margin-top: 10px;  font-size: 12px;  }
}