@import './global.scss';
@import './global/common.scss';
@import './paypassword/statusBar.scss';
@import './Plugins/ccapimg-modal.scss';

body{ background-color: $color_body_bg; font-size:$size_font_middle; font-family: $font_family;}

input[type="text"]{
    width:220px; height:34px; line-height: 34px; border:1px solid $color_border_gray; padding:0 5px; margin:0 5px;
}

.mainWrapper{
  width: $main_width; margin:$main_margintop auto $main_marginbottom; padding:10px 38px 65px;
  background-color:$color_main_bg;
  &.resetPage{
      .reset-tip{
          text-align: center; line-height: 40px; margin:40px 0 30px;
          span{
              color:$color_red; margin-left:5px;
          }
      }
      ul{
          overflow: hidden;
          li{
              float:left; width:440px; height:186px; border:1px solid $color_blue; border-top:2px solid $color_blue;
              &:last-child{ float:right; border-color:$color_border_gray; border-top-color:$color_blue; }
              a{
                  display: block; color:$color_font;
                  &:hover{
                      text-decoration: none;
                  }
              }
              h5{
                  font-size:$size_font_big_num; text-align: center; margin:52px 0 15px;
                  .icon_recommend{ vertical-align: top; margin-left:2px; }
                  span{
                      color:$color_red;
                  }
              }
              p{
                  text-align:center; padding:0 26px;
                  span{
                      color:$color_orange;
                  }
              }
          }
      }
  }
  &.forgetValid{
      form#forgetValid{ padding-left:115px; padding-top:10px; }
      .valid{
        margin-top:15px; margin-bottom:50px;
        .phone{ font-weight:bold; margin:0 10px 0 5px;}
        .btn_blue_small{
          display: inline-block; *display:inline; zoom:1;
        }
        .tip-msg, .tip-error{ padding-left:205px; font-size:$size_font_nomal;}
        li{
          margin:15px 0;
          label{ font-weight:normal; width:200px; text-align: right;}
          &:nth-child(3){
              .tip-msg{display: block; padding:2px 0 0 205px; font-size:$size_font_nomal; color:$color_font; }
          }
        }
      }
      .validBtn{
          margin-left:205px; margin-right:20px;
      }
  }
}
