@import './global.scss';
@import './global/common.scss';

body{ background-color: $color_body_bg; font-size:$size_font_middle; font-family: $font_family;}

.mainWrapper{
  width: $main_width; margin:$main_margintop auto $main_marginbottom; padding:10px 38px 65px;
  background-color:$color_main_bg;
  .reset-tip{
      text-align: center; line-height: 40px; margin:40px 0 30px;
      span{
          color:$color_red; margin-left:5px;
      }
  }
  ul{
      overflow: hidden;
      li{
          float:left; width:440px; height:186px; border:1px solid $color_blue; border-top:2px solid $color_blue;
          &:last-child{ float:right; border-color:$color_border_gray; border-top-color:$color_blue; }
          a{
              display: block; color:$color_font;
              &:hover{
                  text-decoration: none;
              }
          }
          h5{
              font-size:$size_font_big_num; text-align: center; margin:52px 0 15px;
              span{
                  color:$color_red;
              }
          }
          p{
              text-align:center; padding:0 26px;
              span{
                  color:$color_orange;
              }
          }
      }
  }
}
