
.error-404{
  padding-top:120px;
  p{
    padding:20px 0;
  }
  color:#999999;
  font-size:20px;

  .btn-customer{
    display:block;
    width:180px;
    height:40px;
    margin:0 auto;
    background:#00b7ec;
    border:0;
    border-radius:2px;
    outline:none;
    line-height:28px;
    font-size:16px;
  }
}

