<% layout('../global/globalTemp/globalTemp') -%>
<% stylesheet('/styles/compact.css') -%>
<% include ../global/header/subHeader %>
<div class="mainWrapper">
    <h3 class='pageTitle'><span></span>签订电子合同</h3>
    <% include blocks/readme %>
    <% include blocks/compact %>
    <% include blocks/upload %>
</div>
<% script("/scripts/compact/index.js") -%>
