<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
    <!-- dev css:assets -->
    <!-- base: normalize,color -->
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/compact.css">
    <!-- HTMLshiv for IE -->
    <!--[if lte IE 9]><script src="/lib/js/html5shiv.min.js"></script><![endif]-->
    <link type="image/x-icon" rel="shortcut icon" href="/static/img/favicon.ico" />
  </head>
  <body>
    <% include ../global/header %>
    <div>compact</div>
    <% include ../global/footer %>
  </body>
  <!-- dev js:assets -->
  <script src="/static/lib/jquery-2.2.3.min.js"></script>
  <script src="/static/js/compact.js"></script>
</html>
