<div class="security">
    <dl class="tip-msg">
        <dt><i class="icon_warn"></i>温馨提示：</dt>
        <dd>1. 下单后，<span>用QQ、邮件给您发送i连接办理退款的都是骗子！</span></dd>
        <dd>2. 如果易煤网因业务需要进行系统升级</dd>
        <dd>3. 如果易煤网因业务需要进行系统升级，我们会以邮件形式告知您，</dd>
    </dl>
</div>
