<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/static/styles/billCenter.css" rel="stylesheet">-->

<!--    <script src="/static/components/avalon/dist/avalon.js"></script>
    <script src="/static/components/jquery/dist/jquery.js"></script>-->

    <script type="text/javascript" src="<%= staticPath %>/components/requirejs/require.js"></script>
    <script type="text/javascript" src="<%= staticPath %>/scripts/config.js"></script>


    <style>
        .pagination>li .active{
            border: 1px solid red;
        }

        .time {
            border: 1px solid red; display: inline-block; padding: 10px;
        }

        .Absolute-Center {
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            height: 200px;
            border: 1px solid red;
        }

        .center {
            width: 500px;
            height: 500px;
            border: 1px solid blue;
            position: relative;
        }

    </style>
</head>
<body ms-controller="test">

<button ms-click="@clickPage1">不显示</button>
<button ms-click="@clickPage2">显示</button>

<xmp ms-widget="[{is:'ms-pagination', $id:'xxx_'}, @configPagination]"></xmp>


<script>

    requirejs([ 'jquery', 'avalon'], function( $, avalon){

        function heredoc(fn) {
            return fn.toString().replace(/^[^\/]+\/\*!?\s?/, '').
            replace(/\*\/[^\/]+$/, '').trim().replace(/>\s*</g, '><')
        }

        var paginationTemplate = heredoc(function() {

            /*
             <nav class="pagination-financial" ms-if="!@_isShow">
                测试 ms-if 和 ms visible 的区别 , ms-if 好像有bug {{@totalPages}}
             </nav>
             */

        });

        avalon.component('ms-pagination', {
            template: paginationTemplate,
            defaults: {
                totalPages       : 1,
                _isShow          : true,
                isShowPagination : true,

                onInit : function () {
                    console.log('init', this.totalPages);
                    var vm = this;
                    vm._showPaginations();
                    this.$watch('totalPages', function () {
                        setTimeout(function () {
                            vm._showPaginations()
                        }, 2)
                    })
                },

                _showPaginations : function(){
                    var vm = this;
                    console.log('-----------');
                    console.log(vm.totalPages, vm.isShowPagination);
                    vm._isShow = false;
                    if (vm.totalPages > 0 && vm.isShowPagination) {
                        console.log('----------- 显示');
                        vm._isShow = true;
                    }
                }
            }
        })

        var vm = avalon.define({
            $id: 'test',
            orderList: [],
            configPagination : {
                totalPages : 0
            },
            clickPage1:function(){
                console.log(1111)
                vm.configPagination.totalPages = 0;

            },
            clickPage2:function(){
                console.log(22222)
                vm.configPagination.totalPages = 1;
            }

        });






    })

</script>
<p>给用户用的API有222</p>
<ul>
    <li>value:用于提交表单</li>
    <li>name:用于提交表单</li>
    <li>onChange:当value改变时触发,如果它返回false则不会自动关闭菜单</li>
    <li>items:列表中的内容</li>
</ul>
</body>
</html>