<nav class="pagination-financial">
    <ul class="pagination pageno">
        <li class="first-page">
            <a href="" aria-label="Previous" ms-click="@changePagination(@orderCurrentPage-1, $event, '')">
                <span aria-hidden="true" >< 上一页</span>
            </a>
        </li>

        <li ms-for='(key, page) in @orderListTotalPagesArrayLeft'>
            <a ms-class="{active : page.value == @orderCurrentPage}" ms-click="@changePagination(page.value, $event)">{{page.value}}</a>
        </li>
        <li ms-visible='@orderEllipsisLeft'>
            <a >...</a>
        </li>

        <li ms-for='(key, page) in @orderListTotalPagesArray'>
            <a ms-class="{active : page.value == @orderCurrentPage}" ms-click="@changePagination(page.value, $event)">{{page.value}}</a>
        </li>

        <li ms-visible='@orderEllipsisRight'>
            <a >...</a>
        </li>
        <li ms-for='(key, page) in @orderListTotalPagesArrayRight'>
            <a ms-class="{active : page.value == @orderCurrentPage}" ms-click="@changePagination(page.value, $event)">{{page.value}}</a>
        </li>

        <li first-page>
            <a href="" aria-label="Next" ms-click="@changePagination(@orderCurrentPage+1, $event)">
                <span aria-hidden="true">下一页 ></span>
            </a>
        </li>
    </ul>

    <div class="jump-to-page">
        <span>共 {{@orderListTotalPages}}页, 到第</span>
        <input type="text" placeholder="" ms-duplex="@orderCurrentPage">
        <span>页</span>
        <button class="iBtn pagination-button" ms-click="@changePagination(page.value, $event)">确定</button>
    </div>
</nav>