<html>
    <head>
        <link rel="stylesheet" href="static/styles/settleDetails.css">
    </head>
<body>


<!-- 以下.内容部分 -->
<div class="containerWrap">
    <div class="bodyWrap">

        <div id="doubtPlate" class="plateBox">
            <div class="plateHead borSolid">
                <span class="prefix"></span>
                <h3 class="headLeft fl">开票详情</h3>
            </div>
            <div class="plateMain">
                <!-- 结算单信息 板块-->
                <%- include ../Plugins/settlementInfoPlate %>

            </div>
        </div>
        <p class="mt20"></p>
        <%- include ../Plugins/InvoiceInfoViewPlate %>

        <%- include ../Plugins/InvoiceRemarksPlate %>
    </div>
</div>



</body>
</html>
