<div id="subHeader">
    <div class="subHeaderWrap">
        <div class="subHeader1000">
            <a href="javascript:void(0)"><img src="/static/images/header/yimeiLogo.png" alt=""/></a>
            <span class="subHeaderTit"><%= headerTit %></span>
            <div class="tab-cards">
                <ul class="firstTab">
                    <li>
                        <a class="a-option <% if(tabObj.firstTab==1){ %>selected<% } %>" data-value="1">首页</a>
                        <span class="arrow-blue tab-step-<%= tabObj.firstTab %>"></span>
                    </li>
                    <li><a class="a-option <% if(tabObj.firstTab==2){ %>selected<% } %>" data-value="2">账户管理</a></li>
                    <li><a class="a-option <% if(tabObj.firstTab==3){ %>selected<% } %>" data-value="3">交易明细</a></li>
                    <li><a class="a-option <% if(tabObj.firstTab==4){ %>selected<% } %>" data-value="4">结算清单</a></li>
                    <li><a class="a-option <% if(tabObj.firstTab==5){ %>selected<% } %>" data-value="5">合同管理</a></li>
                </ul>
            </div>
        </div>

        <div class="second-tab">
            <ul class="secondTab <% if(tabObj.firstTab!=2){ %>hidden-ul<% } %>">
                <li class="<% if(tabObj.secondTab==1){ %>selected<% } %>"><a data-value="1">账户通</a></li>
                <li class="<% if(tabObj.secondTab==2){ %>selected<% } %>"><a data-value="2">收支明细</a></li>
                <li class="<% if(tabObj.secondTab==3){ %>selected<% } %>"><a data-value="3">账户设置</a></li>
            </ul>
        </div>
    </div>
</div>
