.modalPublic {
  .modal-dialog {
    width: 420px;
    .modal-content {
      margin-top: 190px;
      .modal-header {
        background: #f7f7f7;
        height: 48px;
        //border-top: 2px solid #1aaa6b;
        .modal-title {
          line-height: 1.5;
        }
      }
      .modal-body {
        min-height: 230px;
        text-align: center;
        .modalInfo {
          text-align: center;
        }
        .bg_img {
          width: 58px;
          height: 58px;
          display: inline-block;
          margin: 15px 0 20px 0;
        }
        //          垃圾桶
        .dustbin {
          background: url("/static/images/modal/drop.png") no-repeat center;;
        }
        //          感叹号
        .attention {
          background: url("/static/images/modal/attention.png") no-repeat center;;
        }
        //          人×
        .personNo {
          background: url("/static/images/modal/personNo.png") no-repeat center;;
        }
        //          人√
        .personYes {
          background: url("/static/images/modal/personYes.png") no-repeat center;;
        }
        //          √号
        .yes {
          background: url("/static/images/modal/yes.png") no-repeat center;;
        }
        .autoClose {
          text-align: center;
          padding-top: 20px;
          font-size: 14px;
          color: #999;
          .color-red {
            color: #fd6e35;
          }
        }
        .sucClose {
          text-align: center;
          padding-top: 20px;
          font-size: 14px;
          color: #333;
          a.color-blue {
            color: #00b7ec;
          }
        }
      }
    }
    .buttons {
      padding-top: 30px;
      text-align: center;
      padding-bottom: 8px;
      .cancel {
        width: 100px;
        background: #c7c7c7;
        color: #ffffff;
      }
      .confirm {
        min-width: 100px;
        background: #1fb8ea;
        color: #ffffff;
        margin-left: 15px;
      }
      .ml0 {
        margin-left: 0px;
      }
    }
  }
}

.pad-t20 {
  padding-top: 20px;
}
