@import '../helpers/_variables.scss';

.compactUpload{
  border-top:1px dashed $color_border_block_gray; padding-top:20px;
  .uploadWrapper{
    overflow:hidden;
    label{
      font-size:$size_font_blockTitle; font-weight: normal; line-height: 27px; vertical-align: middle;
      i{ color:red; }
    }
    .btn_upload{ vertical-align: middle; }
  }
  .btn_gray{
    margin-right:10px; margin-left:90px;
  }
  .tip{
    color:$color_tip_font; overflow: hidden; margin-left:90px; line-height: 24px; margin-top:3px; margin-bottom:25px;
    span{
      color:$color_orange;
    }
    label,ul{ float:left; }

  }
  .tip-error{
      display: none; margin-left:90px; font-size:$size_font_normal;
  }
}
