<% layout('../global/globalTemp/globalTemp') -%>

<link rel="stylesheet" href="/styles/buyOrderDetail.css">
<link rel="stylesheet" href="/styles/statusBar.css">
<link rel="stylesheet" href="/styles/orderUserInfo.css">
<link rel="stylesheet" href="/styles/orderTable.css">
<% include ../global/header/subHeader %>
<div id="order-detail-body">
    <div class="main-content">
        <div class="center-content">
            <!-- 状态进度条 -->
            <% include ../global/order/statusBar %>

            <div class="status-content">
                <div class="state-item fs-24"><span>当前订单状态：</span>
                    <% if(order.status=='WaitSignContract'){ %>
                    <span class="status">货物已下单，请及时签订电子合同</span>
                    <% }else if(order.status=='WaitPayment'){ %>
                    <span class="status">已签订电子合同，请及时支付货款</span>
                    <% }else if(order.status=='WaitConfirmDelivery'){ %>
                    <span class="status">已付款</span><span class="status-hint">(您可以及时联系卖家<span class="orange">沟通提货时间</span>)</span>
                    <% }else if(order.status=='TradeClosed'){ %>
                    <span class="status-close">交易关闭</span>
                    <% } %>
                </div>
                <% if(order.status=='WaitSignContract'){ %>
                <div class="state-item mt-20 hint"><span>1. 点击这里</span><span class="btn-option btn-sign">签订合同</span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您不想购买该煤炭，或者下单错误，可以<a class="btn-close">&nbsp;关闭交易</a></span></div>
                <% }else if(order.status=='WaitPayment'){ %>
                <div class="state-item mt-20 hint"><span>1. 点击这里</span><span class="btn-option btn-pay">付款</span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您不想购买该煤炭，或者下单错误，可以<a class="btn-close">&nbsp;关闭交易</a></span></div>
                <% }else if(order.status=='WaitConfirmDelivery'){ %>
                <div class="state-item mt-20 hint"><span>1. 如果您已提货，请及时确认提货</span><span class="btn-option btn-take-good">确认提货</span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您对交易有异议，可以<a class="btn-close">&nbsp;申请纠纷处理</a></span></div>
                <% }else if(order.status=='TradeClosed'){ %>
                <div class="state-item mt-10 hint"><span>关闭原因：<%= order.status %>，订单关闭</span></div>
                <% } %>
            </div>

            <!-- 卖家、卖家信息 -->
            <% include ../global/order/orderUserInfo %>
            <!-- 订单表格 -->
            <% include ../global/order/orderTable %>

            <div class="btn-bottom">
                <span class="btn-print"><i class="btn-ico"></i>打印订单详情</span>
            </div>
        </div>
    </div>
</div>
<% script("../../scripts/order/buyOrderDetail.js") -%>

