@import '../helpers/_variables.scss';

$gray1:#e4e4e4;
$gray2:#666666;
$gray3:#999999;
$gray4:#333333;
$blue1:#01b7ec;
$blue2:#eff9ff;
$dark:#000000;

@mixin floatLeft{
	float:left;
}
@mixin floatRight{
	float:right;
}
@mixin displayBlock{
	display:block;
}
@mixin displayNone{
	display:none;
}
@mixin displayInlineBlock{
	display:inline-block;
}
@mixin width($num:100px){
	width:$num;
}
@mixin height($num:100px){
	height:$num;
}
@mixin overFlow{
	overflow:hidden;
}
@mixin paddingTopBottom($num:10px){
	padding-top:$num;
	padding-bottom:$num;
}
@mixin paddingLeftRight($num:20px){
	padding-left:$num;
	padding-right:$num;
}
@mixin lineHeight($num:20px){
	line-height:$num;
}
@mixin fontWeight{
	font-weight:bolder;
}
@mixin fontSize($num:12px){
	font-size:$num;
}
@mixin verticalAlign{
	vertical-align:middle;
}
@mixin textRight{
	text-align:right;
}
@mixin textCenter{
	text-align:center;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.display-none{
	display:none;
}
.display-block{
	display:block;
}
.relative{
	position:relative;
}
.text-center{
	text-align:center;
}
.vertical-align{
	vertical-align:middle;
}
.padding-bottom-30{
	padding-bottom:30px;
}
.orange-color{
	color:#ff0000;
}
.font-size-18{
	font-size:18px;
}
.padding-left-20{
	padding-left:20px;
}
.padding-top-8{
	padding-top:8px;
}
.add-bg{
	background:#f5f5f5;
}
.add-account{
	width:1000px;
	margin:0 auto;
	padding-bottom:50px;
	@include paddingLeftRight(20px);
	background:#fff;
	.header{
		margin-bottom:50px;
		@include paddingTopBottom(10px);
		border-bottom:1px solid $gray1;
		.figure{
			@include lineHeight(20px);
			dl{
				@include overFlow;
				dt,dd{
					@include displayInlineBlock;
					@include fontSize(12px);
					@include verticalAlign;
				}
				dt{
					@include height(18px);
					border:2px solid $blue1;
				}
				dd{
					color:$gray2;
					span{
						@include paddingLeftRight(10px);
						color:$gray4;
						@include fontSize(16px);
						@include fontWeight;
					}
				}
			}
		}
		.float-right{
			height:30px;
			padding-top:5px;
			span{
				margin-top:-1px;
				@include verticalAlign;
			}
			p{
				cursor:pointer;
				&:hover{
					color:#00b7ec;
				}
			}
			.tool-tips{
				position:absolute;
				top:32px;
				right:10px;
				z-index:10;
				@include width(230px);
				padding:16px;
				border:1px solid $blue1;
				background:$blue2;
				color:$gray4;
				dt{
					color:$blue1;
					@include lineHeight(36px);
					@include fontSize(14px);
				}
				dd{
					@include lineHeight(24px);
				}
				span{
					position:absolute;
					top:-7px;
					right:20px;
					width:12px;
					height:8px;
					background:url('#{$assetPath}/images/wealth/arrow.png') no-repeat center;
				}
			}
		}
	}
	.main-content{
		margin-right:-66px;
	}
	.figure-wrap{
		&.display-none{
			display:none;
		}
		@include displayInlineBlock;
		@include width(450px);
		margin-right:60px;
		border:1px solid $gray1;
		border-top:2px solid $blue1;
		.figure-caption{
			@include height(60px);
			background:$blue2 url('#{$assetPath}/images/wealth/bank_card_icon.png') no-repeat 24px 20px;
			padding-left:64px;
			color:$blue1;
			@include fontSize(24px);
			@include lineHeight(60px);
			span{
				@include floatRight;
				margin-right:10px;
				margin-top:20px;
				@include fontSize(14px);
				@include lineHeight(20px);
				color:$blue1;
				cursor:pointer;
			}
		}
		.figure-content{
			@include overFlow;
			padding:20px 0;
			@include fontSize(14px);
			dt,dd{
				@include displayInlineBlock;
				@include paddingTopBottom(10px);
			}
			dt{
				@include width(40%);
				@include textRight;
				color:$gray3;
			}
			dd{
				@include width(58%);
				color:$gray4;
				text-indent:34px;
			}
			.display-block{
				display:block;
				line-height:200px;
				&:hover{
					.add-bank-btn{
						color:#00b7ec;
						background:url('#{$assetPath}/images/wealth/bank_add.png') no-repeat left -29px;
					}
				}
			}
			.add-bank-btn{
				display:inline-block;
				padding-left:32px;
				background:url('#{$assetPath}/images/wealth/bank_add.png') no-repeat left 2px;
				color:#007193;
				@include fontSize(18px);
				@include fontWeight;
				line-height:24px;
				&.no-bg{
					background:none;
					padding-left:0;
					&:hover{
						background:none;
						color:#007193;
					}
				}
				&:hover{
					color:#00b7ec;
					background:url('#{$assetPath}/images/wealth/bank_add.png') no-repeat left -29px;
				}
			}
		}
	}
	.modal-body-customer{
		padding:34px 0;
		.para-style{
			padding:15px 0 30px 0;
			color:$gray4;
			@include fontSize(14px);
			line-height:40px;
			font-weight:bolder;
		}
		.control-label{
			@include fontSize(16px);
		}
		.forget-password{
			@include fontSize(14px);
			@include lineHeight(30px);
		}
 		input{
			color:$gray3;
		}
	}
}
