<link rel="stylesheet" href="/custom_components/upload/upload.css" charset="utf-8">
<span class="fileinput-button btn_upload">
    <i class="icon_upload"></i>
    <span>点击上传</span>
    <input id='fileupload' data-url='/api/upload-file' type="file" name="files">
</span>
<div id="files"></div>
