@import './var.scss';

.pageTitle{
  font-size:$size_font_pageTitle; color:#333; margin:0;
  line-height: 36px; border-bottom:1px solid $color_border_gray;
  span{ float:left; width:2px; height:18px; background: $color_blue; margin-top:9px; margin-right:10px; }
}

.blockTitle{
  margin:0;
  font-size:$size_font_blockTitle; line-height: 36px; border-bottom:1px dashed $color_border_block_gray;
}

.btn_download, .btn_upload{
  height:25px; line-height: 25px; padding:0 6px; font-size:12px; color:$color_font;
  text-decoration:none; border:1px solid #e4e4e4; @include border-radius(2px);
  background: url('/static/images/btnbg.gif') repeat-x left top;
  .icon_download, .icon_upload{
    display:inline-block; *display:inline; zoom:1; vertical-align: middle;
    width:18px; height:18px; background: url('/static/images/sprite.png') no-repeat -550px -269px;
  }
  .icon_upload{
    background-position:-550px -307px;
  }
}

.btn_blue, .btn_gray{
  width:140px; height:40px; line-height: 40px; text-align:center;
  color:#fff; font-size:$size_font_blockTitle; background:$color_btn_blue;
  @include border-radius(2px); border:none;
}
.btn_gray{
  background: $color_btn_gray;
}

// lightbox 样式调整
.lightboxOverlay{ opacity:0.5; filter:alpha(opacity=50)};
#lightbox {
  .lb-outerContainer{ @include border-radius(2px); @include box-shadow(0px 0px 5px #333333); }
  .lb-container{
    padding: 40px 68px 56px;
  }
  .lb-nav a.lb-next, .lb-nav a.lb-prev{
    opacity:1; filter:alpha(opacity=100);
    position:absolute; left:0; top:50%; margin-top:-50px; width:66px; height:100px;
    background:url('/static/images/sprite.png') no-repeat -292px -45px;
    &:hover{
      background-position: -452px -45px;
    }
  }
  .lb-nav a.lb-next{
    background-position: -372px -45px; right:0; left:auto;
    &:hover{
      background-position: -532px -45px;
    }
  }
  .lb-close{
    position:absolute; top:0; right:0; z-index:10;
    width:30px; height:30px; background:#666 url('/static/images/sprite.png') no-repeat -116px -171px;
    &:hover{
      background-color:#333;
      background-position: -164px -171px;
    }
  }
  .lb-dataContainer{
    height:30px; position:relative; bottom:40px;
    .lb-details{ float:none; width:100%; text-align:center; }
    .lb-data .lb-number{ color:#333; }
  }
}

.tipModal{
  .modal-content{ @include box-shadow(none);}
  .modal-header{ height:50px; background:#f7f7f7; border-top:2px solid #00b7ec; border-bottom:1px solid #e4e4e4; }
  .modal-dialog{ width:480px; padding:15px 26px; }
  .modal-footer{
    border-top:none; text-align: center; padding-bottom:20px;
    .btn{
      width:100px; height:36px; line-height: 36px; font-size:16px; margin-left:0; padding:0; color:#fff;
      &:hover{ color:#fff; }
    }
  }
}

.icon_confirm{
  display:block;
  width:76px; height:88px; background:url(/static/images/sprite.png) no-repeat 0 -278px;
}

.color_orange{ color:$color_orange; }

.icon_glass{
  display:inline-block; *display:inline; zoom:1;
  width:22px; height:22px; background: url(/static/images/sprite.png) no-repeat -549px -174px;
}

// --图片精灵-图标坐标---------->>>>>---->>>>>>>-------------
// 大叉
.icn_cross {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -122px -177px;
  &:hover {
    background: url($bgUrl) no-repeat -170px -178px;
  }
}
// 小叉
.icn_smallCross {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url($bgUrl) no-repeat -222px -177px;
  &:hover {
    background: url($bgUrl) no-repeat -262px -177px;
  }
}
// 商城
.icn_shop {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -306px -177px;
}
// 带图
.icn_picture {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -343px -177px;
}
// 专用
.icn_proper {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -383px -177px;
}

//疑问
.icn_doubt {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url($bgUrl) no-repeat -501px -177px;
}
//向上
.icn_caretUp {
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url($bgUrl) no-repeat -465px -177px;
}
//向下
.icn_caretDown {
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url($bgUrl) no-repeat -431px -177px;
}
//搜寻
.icn_search {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -177px;
}
//附件
.icn_paperClip {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -228px;
}
//上传
.icn_upLoad {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -307px;
}
//下载
.icn_downLoad {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -269px;
}
//导出
.icn_export {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url($bgUrl) no-repeat -552px -343px;
}

//打印
.icn_print {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -379px;
}
//编辑
.icn_edit {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -424px;
}
//刷新
.icn_refresh {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -470px;
}
//成功
.icn_success {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url($bgUrl) no-repeat -310px -443px;
}
//警告
.icn_warning {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -510px;
}
//提示
.icn_prompt {
  display: inline-block;
  width: 13px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -552px;
}
//日历
.icn_date {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat 1px -542px;
}
//支付正常
.icn_payCircle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url($bgUrl) no-repeat -552px -665px;
}
//支付异常
.icn_payCircleWrong {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url($bgUrl) no-repeat -552px -600px;
}
//警告 大
.icn_warningMax {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url($bgUrl) no-repeat -7px -293px;
}
//错误 大
.icn_errorMax {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url($bgUrl) no-repeat -189px -293px;
}
//成功 大
.icn_successMax {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url($bgUrl) no-repeat -383px -291px;
}
//圆点 亮
.icn_roundLight {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url($bgUrl) no-repeat -380px -443px;
}
//圆点 灰
.icn_roundGray {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url($bgUrl) no-repeat -433px -443px;
}
//省略
.icn_ellipsis {
  display: inline-block;
  width: 26px;
  height: 12px;
  background: url($bgUrl) no-repeat -488px -441px;
}
//方向箭头 小
.icn_arrowSmall {
  display: inline-block;
  width: 16px;
  height: 26px;
}
.icn_arrowSmallLeft {
  @extend .icn_arrowSmall;
  background: url($bgUrl) no-repeat -10px -83px;
  &:hover {
    background: #01b7ec url($bgUrl) no-repeat -162px -83px;
  }
}
.icn_arrowSmallRight {
  @extend .icn_arrowSmall;
  background: url($bgUrl) no-repeat -87px -83px;
  &:hover {
    background: #01b7ec url($bgUrl) no-repeat -239px -83px;
  }
}
//方向箭头 大
.icn_arrowBig {
  display: inline-block;
  width: 26px;
  height: 46px;
}
.icn_arrowBigLeft {
  @extend .icn_arrowBig;
  background: url($bgUrl) no-repeat -311px -73px;
  &:hover {
    background: url($bgUrl) no-repeat -471px -73px;
  }
}
.icn_arrowBigRight {
  @extend .icn_arrowBig;
  background: url($bgUrl) no-repeat -391px -73px;
  &:hover {
    background: url($bgUrl) no-repeat -551px -73px;
  }
}
// --图片精灵-图标坐标---------------<<<<<<<<<<<<<------