$color_body_bg: #f5f5f5;
$color_main_bg: #fff;
$color_blue: #31b9e6;
$color_border_gray: #d9d9d9;
$color_border_block_gray: #ddd;
$color_font: #333;
$color_btn_blue: #01b7ec;
$color_btn_gray: #c7c7c7;

$color_readme_bg: #fffaf7;
$color_readme_font: #ff6e0f;
$color_readme_border: #fecdb3;

$color_tip_font: #999;
$color_orange: #ff6e0f;

$main_width: 1000px;
$main_margintop: 20px;
$main_marginbottom: 30px;

$size_font_pageTitle: 18px;
$size_font_blockTitle: 16px;
$size_font_nomal: 12px;

$font_family: Microsoft YaHei;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
      -moz-box-shadow:$shadow;
  -webkit-box-shadow:$shadow;
          box-shadow:$shadow;
}
