
.sideBar{
  width:120px;
  height:400px;
  background:#fff;
  border:1px solid #e8e8e8;
  margin-right:10px;
  float:left;
  padding: 10px;
  ul{
    padding-top:10px;
    li{
      text-align:center;
      line-height:38px;
      a{
        color:#000;
        text-decoration:none;
        width:100%;
        height:100%;
        display:inline-block;
        font-size:14px;
        &:hover{
          color:#00b7ec;
          cursor: pointer;
          .ico_triangle_down{
            background-position: -239px -542px;
          }
          .ico_triangle_right{
            background-position: -148px -542px;
          }
        }
      }
      .ico_triangle_right{
        display: inline-block;
        width: 9px;
        height: 15px;
        background: url("/dist/images/sprite_ico.png") no-repeat -195px -542px;
        float: right;
        margin-top: 12px;

      }
      .ico_triangle_down{
        display: inline-block;
        width: 15px;
        height: 9px;
        background: url("/dist/images/sprite_ico.png") no-repeat -284px -542px;
        float: right;
        margin-top: 12px;

      }
    }
    dl{
      dd{
        text-align:center;
        line-height:38px;
        a{
          font-size:12px!important;
        }
      }
      dd.current{
        a{
          color:#00b7ec;
        }
      }
    }
    .current{
      a.navBar{
        color:#00b7ec;
        .ico_triangle{
          background-position: -148px -542px;
        }
      }
    }
  }
}
