
.sideBar{
  width:120px;
  height:400px;
  background:#fff;
  border:1px solid #e8e8e8;
  margin-right:10px;
  float:left;
  ul{
    padding-top:10px;
    li{
      text-align:center;
      line-height:38px;
      a{
        color:#000;
        text-decoration:none;
        width:100%;
        height:100%;
        display:inline-block;
        font-size:14px;
        &:hover{
          color:#00b7ec;
          cursor: pointer;
        }
      }
    }
    dl{
      dd{
        text-align:center;
        line-height:38px;
        a{
          font-size:12px!important;
        }
      }
      dd.current{
        a{
          color:#00b7ec;
        }
      }
    }
    .current{
      a.navBar{
        color:#00b7ec;
      }
    }
  }
}
