
/* 通用: 文本域, 带可输入字数 ------------- */
.txtAreaBox {
  position: relative;
  padding: 0;
  margin: 0;

  .dockDown {
    width: 145px;
    height: 22px;
    padding: 1px 5px;
    position: absolute;
    z-index: 3;
    bottom: 6px;
    right: 2px;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
  }
  .limitNum {  color: #ff8553;  }

  .txtArea {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    resize: none;

    &:hover {
      border: 1px solid $color_btn_blue;
    }
  }
}
