<link rel="stylesheet" href="/static/custom_components/upload/upload.css" charset="utf-8">
<span class="fileinput-button btn_upload">
    <i class="icon_upload"></i>
    <span>点击上传</span>
    <input class='fileupload' data-url='/api/upload-file' type="file" name="files">
</span>
<div class="files"></div>

<div class="fileupload-progress progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
</div>
<p class='tip-error'></p>
