<div class="alert guarantee alert-success alert-dismissible fade" role="alert"> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> 
    结算金额已提交给买家，请等待买家付款~ 
</div>

<div class="alert guarantee alert-danger alert-dismissible fade" role="alert"> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> 
    提交失败，请稍后重试~ 
</div>