/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$attention-name: 'attention';
$attention-x: 210px;
$attention-y: 410px;
$attention-offset-x: -210px;
$attention-offset-y: -410px;
$attention-width: 60px;
$attention-height: 60px;
$attention-total-width: 680px;
$attention-total-height: 680px;
$attention-image: '/static/images/sprite/auto-sprite.png';
$attention: (210px, 410px, -210px, -410px, 60px, 60px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'attention', );
$drop-name: 'drop';
$drop-x: 521px;
$drop-y: 104px;
$drop-offset-x: -521px;
$drop-offset-y: -104px;
$drop-width: 55px;
$drop-height: 55px;
$drop-total-width: 680px;
$drop-total-height: 680px;
$drop-image: '/static/images/sprite/auto-sprite.png';
$drop: (521px, 104px, -521px, -104px, 55px, 55px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'drop', );
$icon-calendar-color-name: 'icon_calendar_color';
$icon-calendar-color-x: 631px;
$icon-calendar-color-y: 34px;
$icon-calendar-color-offset-x: -631px;
$icon-calendar-color-offset-y: -34px;
$icon-calendar-color-width: 15px;
$icon-calendar-color-height: 15px;
$icon-calendar-color-total-width: 680px;
$icon-calendar-color-total-height: 680px;
$icon-calendar-color-image: '/static/images/sprite/auto-sprite.png';
$icon-calendar-color: (631px, 34px, -631px, -34px, 15px, 15px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'icon_calendar_color', );
$icon-calendar-gray-name: 'icon_calendar_gray';
$icon-calendar-gray-x: 596px;
$icon-calendar-gray-y: 69px;
$icon-calendar-gray-offset-x: -596px;
$icon-calendar-gray-offset-y: -69px;
$icon-calendar-gray-width: 15px;
$icon-calendar-gray-height: 15px;
$icon-calendar-gray-total-width: 680px;
$icon-calendar-gray-total-height: 680px;
$icon-calendar-gray-image: '/static/images/sprite/auto-sprite.png';
$icon-calendar-gray: (596px, 69px, -596px, -69px, 15px, 15px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'icon_calendar_gray', );
$icon-download-pdf-name: 'icon_download_pdf';
$icon-download-pdf-x: 105px;
$icon-download-pdf-y: 490px;
$icon-download-pdf-offset-x: -105px;
$icon-download-pdf-offset-y: -490px;
$icon-download-pdf-width: 85px;
$icon-download-pdf-height: 85px;
$icon-download-pdf-total-width: 680px;
$icon-download-pdf-total-height: 680px;
$icon-download-pdf-image: '/static/images/sprite/auto-sprite.png';
$icon-download-pdf: (105px, 490px, -105px, -490px, 85px, 85px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'icon_download_pdf', );
$icon-download-xls-name: 'icon_download_xls';
$icon-download-xls-x: 0px;
$icon-download-xls-y: 595px;
$icon-download-xls-offset-x: 0px;
$icon-download-xls-offset-y: -595px;
$icon-download-xls-width: 85px;
$icon-download-xls-height: 85px;
$icon-download-xls-total-width: 680px;
$icon-download-xls-total-height: 680px;
$icon-download-xls-image: '/static/images/sprite/auto-sprite.png';
$icon-download-xls: (0px, 595px, 0px, -595px, 85px, 85px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'icon_download_xls', );
$person-no-name: 'personNo';
$person-no-x: 446px;
$person-no-y: 179px;
$person-no-offset-x: -446px;
$person-no-offset-y: -179px;
$person-no-width: 55px;
$person-no-height: 55px;
$person-no-total-width: 680px;
$person-no-total-height: 680px;
$person-no-image: '/static/images/sprite/auto-sprite.png';
$person-no: (446px, 179px, -446px, -179px, 55px, 55px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'personNo', );
$person-yes-name: 'personYes';
$person-yes-x: 368px;
$person-yes-y: 254px;
$person-yes-offset-x: -368px;
$person-yes-offset-y: -254px;
$person-yes-width: 58px;
$person-yes-height: 58px;
$person-yes-total-width: 680px;
$person-yes-total-height: 680px;
$person-yes-image: '/static/images/sprite/auto-sprite.png';
$person-yes: (368px, 254px, -368px, -254px, 58px, 58px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'personYes', );
$secure-tip-name: 'secure-tip';
$secure-tip-x: 666px;
$secure-tip-y: 0px;
$secure-tip-offset-x: -666px;
$secure-tip-offset-y: 0px;
$secure-tip-width: 14px;
$secure-tip-height: 14px;
$secure-tip-total-width: 680px;
$secure-tip-total-height: 680px;
$secure-tip-image: '/static/images/sprite/auto-sprite.png';
$secure-tip: (666px, 0px, -666px, 0px, 14px, 14px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'secure-tip', );
$yes-name: 'yes';
$yes-x: 290px;
$yes-y: 332px;
$yes-offset-x: -290px;
$yes-offset-y: -332px;
$yes-width: 58px;
$yes-height: 58px;
$yes-total-width: 680px;
$yes-total-height: 680px;
$yes-image: '/static/images/sprite/auto-sprite.png';
$yes: (290px, 332px, -290px, -332px, 58px, 58px, 680px, 680px, '/static/images/sprite/auto-sprite.png', 'yes', );
$spritesheet-width: 680px;
$spritesheet-height: 680px;
$spritesheet-image: '/static/images/sprite/auto-sprite.png';
$spritesheet-sprites: ($attention, $drop, $icon-calendar-color, $icon-calendar-gray, $icon-download-pdf, $icon-download-xls, $person-no, $person-yes, $secure-tip, $yes, );
$spritesheet: (680px, 680px, '/static/images/sprite/auto-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
