// --图片精灵-图标坐标---------->>>>>---->>>>>>>-------------
// 大叉
.icn_cross {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -122px -177px;
  &:hover {
    background: url($bgUrl) no-repeat -170px -178px;
  }
}

// 小叉
.icn_smallCross {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url($bgUrl) no-repeat -222px -177px;
  &:hover {
    background: url($bgUrl) no-repeat -262px -177px;
  }
}

// 商城
.icn_shop {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -306px -177px;
}

// 带图
.icn_picture {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -343px -177px;
}

// 专用
.icn_proper {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url($bgUrl) no-repeat -383px -177px;
}

//疑问
.icn_doubt {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url($bgUrl) no-repeat -501px -177px;
}

//手机
.icn_phone {
  display: inline-block;
  width: 12px;
  height: 17px;
  background: #CCCCCC url($bgUrl) no-repeat -48px -542px;
}
//电话
.icn_tel {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: #CCCCCC url($bgUrl) no-repeat -96px -542px;
}

//向上
.icn_caretUp {
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url($bgUrl) no-repeat -465px -177px;
}

//向下
.icn_caretDown {
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url($bgUrl) no-repeat -431px -177px;
}

//搜寻
.icn_search {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -177px;
}

//附件
.icn_paperClip {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -228px;
}

//上传
.icn_upLoad {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -307px;
}

//下载
.icn_downLoad {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -269px;
}

//导出
.icn_export {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url($bgUrl) no-repeat -552px -343px;
}

//打印
.icn_print {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -379px;
}

//编辑
.icn_edit {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -424px;
}

//刷新
.icn_refresh {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -552px -470px;
}

//成功
.icn_success {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url($bgUrl) no-repeat -310px -443px;
}

//警告
.icn_warning {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -510px;
}

//提示
.icn_prompt {
  display: inline-block;
  width: 13px;
  height: 16px;
  background: url($bgUrl) no-repeat -552px -552px;
}

//日历
.icn_date {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat 1px -542px;
}
//日历2
.icn_date_l {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url($bgUrl) no-repeat -577px -713px;
}

//支付正常
.icn_payCircle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url($bgUrl) no-repeat -552px -665px;
}

//支付异常
.icn_payCircleWrong {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url($bgUrl) no-repeat -552px -600px;
}

//警告 大
.icn_warningMax {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url($bgUrl) no-repeat -7px -293px;
}

//错误 大
.icn_errorMax {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url($bgUrl) no-repeat -189px -293px;
}

//成功 大
.icn_successMax {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url($bgUrl) no-repeat -383px -291px;
}

// 折叠.右
.icn_fold {
  display: inline-block;
  width: 9px;
  height: 15px;
  background: #CCCCCC url($bgUrl) no-repeat -195px -542px;
  &:hover, &.hover {
    background: #CCCCCC url($bgUrl) no-repeat -148px -542px;
  }
}
// 展开.下
.icn_spread {
  display: inline-block;
  width: 15px;
  height: 9px;
  background: #CCCCCC url($bgUrl) no-repeat -239px -542px;
  &:hover, &.hover {
    background: #CCCCCC url($bgUrl) no-repeat -284px -542px;
  }
}

//圆点 亮
.icn_roundLight {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url($bgUrl) no-repeat -380px -443px;
}

//圆点 灰
.icn_roundGray {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url($bgUrl) no-repeat -433px -443px;
}

//省略
.icn_ellipsis {
  display: inline-block;
  width: 26px;
  height: 12px;
  background: url($bgUrl) no-repeat -488px -441px;
}

//方向箭头 小
.icn_arrowSmall {
  display: inline-block;
  width: 16px;
  height: 26px;
}

.icn_arrowSmallLeft {
  @extend .icn_arrowSmall;
  background: url($bgUrl) no-repeat -10px -83px;
  &:hover, &.hover {
    background: #01b7ec url($bgUrl) no-repeat -162px -83px;
  }
}

.icn_arrowSmallRight {
  @extend .icn_arrowSmall;
  background: url($bgUrl) no-repeat -87px -83px;
  &:hover, &.hover {
    background: #01b7ec url($bgUrl) no-repeat -239px -83px;
  }
}

//方向箭头 大
.icn_arrowBig {
  display: inline-block;
  width: 26px;
  height: 46px;
}

.icn_arrowBigLeft {
  @extend .icn_arrowBig;
  background: url($bgUrl) no-repeat -311px -73px;
  &:hover, &.hover {
    background: url($bgUrl) no-repeat -471px -73px;
  }
}

.icn_arrowBigRight {
  @extend .icn_arrowBig;
  background: url($bgUrl) no-repeat -391px -73px;
  &:hover, &.hover {
    background: url($bgUrl) no-repeat -551px -73px;
  }
}

// --图片精灵-图标坐标---------------<<<<<<<<<<<<<------
