<div id="passErrModal" class="modal fade tipModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
          <span class='icon_error'></span>
          <p class='big_gray'>
              为保证您的资金安全，您的资金账户已锁定。
          </p>
      </div>
      <div class="modal-footer">
        <a href='/ucenter/paypassword/fg/vl' class="btn_respond">立刻找回密码</a>
        <p class='tip-msg'>
            如需帮助请联系易煤网客服：<i>400-960-1180</i>
        </p>
      </div>
    </div>
  </div>
</div>
