<div class="compactContainer">
  <h4>合同内容详情（1/<%= imgs.length %>）<a href='<%= pdfpath %>'>下载合同</a></h4>
  <div id="compactImgs" class='flexslider carousel'>
  <!-- Carousel items -->
  <ul class="slides">
    <% imgs.forEach(function(img){ %>
      <li class="item">
        <a href='<%= img %>' data-lightbox='compact-lightbox'><img src='<%= img %>'/></a>
      </li>
    <% }) %>
  </ul>
</div>
</div>
