@import './global.scss';
@import './layout/_accountSideBar.scss';
@import "./components/_datePicker.scss";
@import './components/pagination_finalcial.scss';


#settlementManagement{
  .settlementManagement{
    background:#f6f6f6;
    padding:30px 0 100px 0;
    .wrap{
      width:1000px;
      margin:0 auto;
      .content{
        width:870px;
        float: right;
        padding: 18px;
        background: #ffffff;
        border:1px solid #e8e8e8;
        table.billList {
          width: 100%;
          tr {
            &:hover {
              background-color: #effafd;
            }
            th {
              height: 36px;
              line-height: 36px;
              background-color: #f5f5f5;
              text-align: center;
            }
            th.last {
              width: 170px;
            }
            td {
              height: 94px;
              text-align: center;
              font-size: 14px;
              border-bottom: 1px dotted #e8e8e8;
              padding:0 10px;
              div.btn {
                width: 90px;
                height: 24px;
                margin-bottom: 5px;
                padding: 0;
                cursor: auto;
              }

            }
            .width150{width: 150px;}
            .noInfo {
              height: 440px;
              font-size: 18px;
              border: none;
              &:hover{
                background-color: #ffffff;
              }
              a {
                color: #ffffff;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}


.billSearch{
  font-size: 12px;
  color: $color_font;
  padding:0 0 20px 0;
  vertical-align: middle;
  input{vertical-align: middle; font-size: 12px;}
  span.bill{
    margin-left: 30px;
  }
  .time{
    display: inline-block;
    position: relative;
    .startDate, .endDate {
      margin-left: -1px;
      padding-left: 10px;
      color: $color_font;
      width: 127px;
      background: url("#{$assetPath}/images/sprite_ico.png") no-repeat 104px -534px;
      &:focus{
        border: 1px solid #01b7ec;
      }
    }
  }
  .billNumber{
    width: 180px;
    height: 32px;
    padding-left: 10px;
  }
}