@import './global.scss';
@import './components/_common.scss';
@import './compact/compact.scss';
@import './compact/upload.scss';

body{ background-color: $color_body_bg; font-size:$size_font_normal; font-family: $font_family;}

#paymentHeader .headWrap .wrap1000 .menuList li.webNav{ width:auto; }
#paymentHeader .headWrap .wrap1000 .menuList li .hideMenu{ width:auto; }

.mainWrapper{
  width: $main_width; margin:$main_margintop auto $main_marginbottom; padding:10px 25px 40px;
  background-color:$color_main_bg;
}
.layer-shade{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
