@import './global.scss';
@import './Plugins/message.scss';


/* 结算单.确认开票 页面 *********************************************** */
.doubtInlet {
  display: inline-block;
  height: 28px;
  color: #333333;
  font-size: 12px;
  font-family: $ffSt;
  line-height: 18px;
}





/* 备注.开票信息 页面 --------------------------- */
