@import './helpers/_variables.scss';
@import './base/_reset.scss';

@import './helpers/_sprite.scss';
@import './helpers/_auto_sprite.scss';


@import './layout/_container.scss';
@import './layout/_header.scss';
@import './layout/_footer.scss';

@import './components/_common.scss';
@import './components/_button.scss';
@import './components/_bootstrapModal.scss';
@import './components/_inputbox.scss';
@import './components/_modal.scss';

img.ccapImgcode{
    width:126px;
}
.send_code{
    cursor:default;
    &.btn_gray_small.disable{
        background-color: $color_dot;
    }
}
/* 通用 */
::-webkit-input-placeholder { color: #d9d9d9; }
::-moz-placeholder { color:#d9d9d9; } /* firefox 19+ */
:-ms-input-placeholder { color:#d9d9d9; } /* ie */
input:-moz-placeholder { color:#d9d9d9; }


// .icon-secure-tip{
//    display:inline-block; *display:inline; zoom:1; vertical-align: middle;
//    @include sprite($secure-tip);
// }
// .icon-big-loading{
//    display:inline-block; *display:inline; zoom:1; vertical-align: middle;
//    @include sprite($big-loading);
// }







