@import './global.scss';
@import './Plugins/message.scss';
@import './Plugins/fancySelect.scss';

/* 关闭订单 页面 *********************************************** */

.linkBtn {
  font-size: 12px;
  font-family: $ffYh;
  color: #007193;
  text-decoration: none;}
.linkBtn:link {
  color: #007193;
  text-decoration: none;}
.linkBtn:hover {
  color: #00b7ec;
  text-decoration: none;}

.formTab {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;

  thead > tr > th,
  tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  
  .txt_r {
    padding-top: 13px;
    font-size: 14px;
  }
}


/* 列表 ----------------------------------------------- */
.termBox {
  padding-bottom: 15px;

  dl {
    line-height: 24px;
    padding: 5px 0;
    font-size: 14px;
    font-family: $ffYh;
  }
  dt {
    display: inline-block;
    width: 73px;
    color: #999;
  }
  dd {
    display: inline-block;
    color: #333;
  }
  .term_hr {
    margin: 15px 0;
    padding: 0;
    height: 1px;
    width: 200px;
    border-bottom: 1px dashed #dcdcdc;
  }
  .text_zt {
    color: #1aaa6b;
  }
  .text_je {
    font-weight: bold;
    font-size: 16px;
    color: #ff6e27;
  }
}

// 按钮
.subBtn {
  width: 172px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  background: #00b7ec;
}
.subBtn:hover {
  background: #4cc6ee;
}
.iBtn-cancel, .iBtn-primary {
  width: 100px;
  height: 32px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
}
.iBtn-cancel {
  background: #CEC7C7;
}
.iBtn-cancel:hover {
  background: #c7c7c7;
}
.iBtn-primary {
  background: #00b7ec;
  margin-left: 20px;
}
.iBtn-primary:hover {
  background: #4cc6ee;
}

//左侧栏
.plateMain {
  .sidebarWrap {
    width: 260px;
    padding: 30px 15px 30px 30px;
    background: #f5f5f5;
    height: 374px;
  }
  .mainWrap {
    width: 678px;
    padding: 30px 20px;
    background: #FFFFFF;
  }
}

// 模态提示框
.warn_ico {
  width: 66px;
  height: 66px;
  margin: 30px auto 8px;
  background: url($bgUrl) no-repeat -5px -290px;
}
.warn_info {
  font-size: 18px;
  font-font: $ffYh;
  line-height: 30px;
  text-align: center;
  color: #666666;
}