@import './global.scss';
@import './Plugins/message.scss';
@import './Plugins/reasonsReturnPlate.scss';      // 退回原因编辑, 结算信息
@import './Plugins/settlementInfoPlate.scss';


/* 结算单 页面 *********************************************** */





/* 重要提示 板块 --------------------------- */
.doubtInlet {
  display: inline-block;
  padding-left: 19px;
  height: 28px;
  color: #007193;
  font-size: 12px;
  font-family: $ffSt;
  line-height: 20px;
  text-decoration: none;
  background: url($bgUrl) no-repeat -501px -176px;

  & :hover {
    color: $color_link_hover;
    text-decoration: underline;
  }
}
.embedBox {
  display: none;
  width: 940px;;
  height: 218px;
  position: relative;
  z-index: 5;

  .significantDoubt {
    position: absolute;
    z-index: 3;
    width: 940px;
    top: -3px;
    left: 0;
  }
}
.embedBox::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  right: 17px;
  z-index: 8;
  overflow: hidden;
  border-style: solid;
  border-width: 0 8px 7px;
  border-color: transparent transparent #6ed8f5;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}
.embedBox::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -9px;
  right: 17px;
  z-index: 9;
  overflow: hidden;
  border-style: solid;
  border-width: 0 8px 7px;
  border-color: transparent transparent #f3fcff;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.significantDoubt {
  padding: 20px 30px;
  border: 1px solid #abeafb;
  background: #f3fcff;

  .doubtTitle {
    height: 38px;
    padding-top: 5px;
    font-size: 16px;
    color: #333333;
    line-height: 28px;
  }
  p.entry {
    font-size: 12px;
    line-height: 28px;
    color: #666666;
  }
  span.light {
    color: #fc9974;
  }

  .linkPrint {
    color: $color_link;
    text-decoration: none;

    &:hover {
      color: $color_link_hover;
      text-decoration: underline;
    }
  }
}
.modal-content {
  .close {
    position: absolute;
    top: 10px;
    right: 12px;
    opacity: 0.8;
  }
}
.labReturnReason {
  display: block;
  width: 790px;
  word-break: break-all;
}
/* 结算单表格 板块 --------------------------- */

/* 清算货款 板块 --------------------------- */
.liquidationTime {
  height: 40px;
  padding-top: 14px;
  line-height: 22px;
  font-size: 12px;
  color: #666666;
  
  .time {
    color: #333333;
  }
}
.liquidationGoods {
  width: 100%;
  max-width: 100%;

  > tbody {
    > tr {
      > th,
      > td {
        padding: 12px;
        font-size: 16px;
        line-height: $line-height-base;
        vertical-align: top;
        border: 1px solid #e8e8e8;
        text-align: center;
      }
    }
    > tr {
      > th {
        border-top: 1px dashed #e8e8e8;
        background: #f5f5f5;
        color: #666666;
      }
    }
    > tr {
      > td {
        padding: 35px 0;
        background: #ffffff;
        color: #333333;
        font-size: 18px;
      }
    }
  }
}


/* 退回原因&编辑原因&重新提交 板块 --------------------------- */



/* 操作提示框&操作按钮组&文件操作 --------------------------- */
.option_info_icn {
  display: block;
  margin: 25px auto;
}
.option_info {
  font-size: 18px;
  text-align: center;
  color: #666666;
  line-height: 26px;
}
.option_warn {
  padding-top: 8px;
  font-size: 12px;
  text-align: center;
  color: #999999;
  line-height: 22px;
}

.operationBox {
  padding-left: 126px;
}

.fileOperation {
  .fileOperation_title {
    width: 126px;
    height: 80px;
    font-size: 14px;
    color: #666666;
    line-height: 22px;

    p.fileTitle {
      padding-top: 5px;
    }
  }
  .fileOperation_body {
    width: 780px;
    margin-left: 126px;

    .fileExplain {
      padding-top: 6px;
      line-height: 24px;
      font-size: 12px;
    }
  }
}