@import './global.scss';
@import './Plugins/fancySelect.scss';
@import "./components/_datePicker.scss";
@import './components/pagination_finalcial.scss';


.transaction-body{
  background-color: $color_body_bg;
  padding: $main_margintop 0 $main_marginbottom 0;
  a{
    color: $color_manage_text;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $color_a_hover;
    }
  }
  .picker{
    top: 32px;
  }
  .transaction-main{
    width: $main_width;
    margin-left: auto;
    margin-right: auto;
    background-color: $color_main_bg;
    .search-div{
      font-size: 12px;
      color: $color_font;
      padding: 20px 0;
      div.fancy-select ul.options{max-height: 289px;}
      div.trigger{  height: 32px;color: $color_font;  }
      select{  display: none;color: $color_font;  }
      .mt-20{ margin-top:20px; }
      .row-one{ z-index: 10;  position: relative; }
      .row-two{ z-index: 1;  position: relative; }
      .search-row > span{ margin: 0 10px 0 20px; vertical-align: middle;}
      .search-row{
        div.time{width: 132px;display: inline-block;position: relative;&:hover{border-color:$color_a_hover; }}
        input{vertical-align: middle; font-size: 12px;}
        .startDate,.endDate{
          margin-left: -1px;
          padding-left: 10px;
          color: $color_font;
          width: 130px;
          background: url("#{$assetPath}/images/sprite_ico.png") no-repeat 108px -534px;
        }
        span.to{margin: 0 10px 0 7px;}
        .ml-40{ margin-left: 40px; }
        .record-number{width: 300px;}
        .disabled-bg{ background-color: #f8f8f8; }
      }
    }
    .transaction-div{
      padding-bottom: 10px;
      .transaction-table{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        thead tr{
          background-color: $color_bg_table_th_gray;
          line-height: 36px;
          th{  text-align: center;  }
        }
        tbody tr.line{
          border-bottom: 1px dotted $color_border;
          &:hover{  background-color: $tr_hover_color;  }
          td{
            text-align: center;
            padding: 12px 0;
            .block-a{
              display: block;
            }
          }
          td.coal-target > div{
            text-align: left;
            padding: 4px 0 4px 20px;
            .label{  color: $color_tip_font;  padding: 0;  }
          }
          .mt-10{margin-top:10px;}
          .title{
              width: 140px;
              white-space:nowrap;
              overflow:hidden;
              text-overflow:ellipsis;
              text-align: center;
          }
          td.order-number > div{
            text-align: left;
            padding: 4px 0 4px 20px;
            .label{  color: $color_tip_font;  padding: 0;  }
          }
          td.operation > a { display: block;}
          .status-green{  color: #1aaa6b;  }
          .status-red{  color: #ff0000;  }
        }
        .no-data{
          text-align: center;
          padding: 105px 0;
          font-size: 18px;
          color: #666;
        }
      }
    }
  }
}
