<li>
    <label>手机号码：</label><i class='phone'><%= phoneFormat(user.payPhone || user.securephone) %></i><span id='send_code' class='send_code btn_blue_small' data-toggle='modal' role='button' data-target='#imgcodeModal'>发送校验码</span>
    <p class='tip-error'></p>
    <input type='hidden' name='payPhone' value='<%= user.payPhone || user.securephone %>'>
</li>
<li>
  <label>校&nbsp;验&nbsp;码&nbsp;：</label><input type='text' style='display:none;'><input autocomplete='off' type="text" placeholder='请勿泄露' name="sms_code" value="">
  <p class='tip-msg'></p>
  <p class='tip-error'></p>
</li>
