<h3>newdemo.ejs</h3>
<table border="1" width="300">
    <tbody>
    <tr>
        <th>courseName</th>
        <td><%= courseName %></td>
    </tr>
    <tr>
        <th>foo</th>
        <td><%= foo %></td>
    </tr>
    <tr>
        <th>friends</th>
        <td><%= friends %></td>
    </tr>
    </tbody>
</table>