<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>头部</title>
    <!-- dev css:assets -->
    <!-- base: normalize,color -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <!-- HTMLshiv for IE -->
    <!--[if lte IE 9]><script src="/lib/js/html5shiv.min.js"></script><![endif]-->
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body>
    <div id="paymentHeader">
        <div class="headWrap">
            <div class="wrap1000">
                <ul class="menuList">
                    <li class="webNav">
                        <a href="javascript:void(0)">网站导航</a>
                        <span class="triggle"></span>
                        <ul class="hideMenu">
                            <li><a href="javascript:void(0)">首页</a></li>
                            <li><a href="javascript:void(0)">易煤商城</a></li>
                            <li><a href="javascript:void(0)">现货搜索</a></li>
                            <li><a href="javascript:void(0)">阳光采购</a></li>
                            <li><a href="javascript:void(0)">报价区</a></li>
                            <li><a href="javascript:void(0)">金融</a></li>
                            <li><a href="javascript:void(0)">团购</a></li>
                            <li><a href="javascript:void(0)">行情资讯</a></li>
                            <li><a href="javascript:void(0)">数据中心</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">业务管理中心</a></li>
                    <li class="noborder"><a href="javascript:void(0)">财务管理中心</a></li>
                </ul>
                <!--未登录状态-->
                <ul class="menuList rightMenuList">
                    <li><a href="javascript:void(0)">登录</a></li>
                    <li class="noborder"><a href="javascript:void(0)">注册</a></li>
                </ul>
                <!--登录状态-->
                <ul class="menuList rightMenuList">
                    <li><a href="javascript:void(0)">账户名：130****5222</a></li>
                    <li class="noborder"><a href="javascript:void(0)">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>